# ──────────────
# 📄 기본 파일 무시
# ──────────────
HELP.md
target/
build/
dist/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
.nb-gradle/

# 예외 처리
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ──────────────
# 🧪 IDE 설정
# ──────────────

## STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/nbgradle/

## VS Code
.vscode/

# ──────────────
# 💻 macOS
# ──────────────
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# ──────────────
# 🪟 Windows
# ──────────────
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.stackdump